<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dragonball.dao.user.db.UserDBDAO">

    <resultMap id="BaseResultMap"
               type="com.dragonball.model.user.entity.UserEO">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="account" property="account" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="head_photo" property="headPhoto" jdbcType="VARCHAR" />
        <result column="signature" property="signature" jdbcType="VARCHAR" />
        <result column="qq" property="QQ" jdbcType="VARCHAR" />
        <result column="wei_xin" property="weiXin" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
        <result column="is_enable" property="isEnable" jdbcType="BIT" />
        <result column="member_type" property="memberType" jdbcType="BIGINT" />
    </resultMap>

    <!-- 根据id查询 -->
    <select id="getById" parameterType="long" resultMap="BaseResultMap"
            resultType="com.dragonball.model.user.entity.UserEO">
        SELECT * FROM t_user WHERE id =
        #{id}
    </select>

    <!-- sql查询条件语句 -->
    <sql id="selectSql">
        <where>
            <trim prefixOverrides="AND">
                <if test="userName != null and userName != ''">
                    AND user_name = #{userName}
                </if>
                <if test="nickName != null and nickName != ''">
                    AND nick_name = #{nickName}
                </if>
                <if test="sex != null">
                    AND sex = #{sex}
                </if>
                <if test="account != null and account != ''">
                    AND account = #{account}
                </if>
                <if test="password != null and password != ''">
                    AND password = #{password}
                </if>
                <if test="headPhoto != null and headPhoto != ''">
                    AND head_photo = #{headPhoto}
                </if>
                <if test="signature != null and signature != ''">
                    AND signature = #{signature}
                </if>
                <if test="QQ != null and QQ != ''">
                    AND qq = #{QQ}
                </if>
                <if test="weiXin != null and weiXin != ''">
                    AND wei_xin = #{weiXin}
                </if>
                <if test="email != null and email != ''">
                    AND email = #{email}
                </if>
                <if test="phoneNumber != null and phoneNumber != ''">
                    AND phone_number = #{phoneNumber}
                </if>
                <if test="isEnable != null">
                    AND is_enable = #{phoneNumber}
                </if>
                <if test="memberType != null ">
                    AND member_type = #{memberType}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 新增记录 -->
    <insert id="insert" parameterType="com.dragonball.model.user.entity.UserEO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">
                user_name,
            </if>
            <if test="nickName != null and nickName != ''">
                nick_name,
            </if>
            <if test="sex != null ">
                sex,
            </if>
            <if test="account != null and account != ''">
                account,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="headPhoto != null and headPhoto != ''">
                head_photo,
            </if>
            <if test="signature != null and signature != ''">
                signature,
            </if>
            <if test="QQ != null and QQ != ''">
                qq,
            </if>
            <if test="weiXin != null and weiXin != ''">
                wei_xin,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                phone_number,
            </if>
            <if test="isEnable != null">
                is_enable,
            </if>
            <if test="memberType != null">
                member_type
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">
                #{userName},
            </if>
            <if test="nickName != null and nickName != ''">
                #{nickName},
            </if>
            <if test="sex != null ">
                #{sex},
            </if>
            <if test="account != null and account != ''">
                #{account},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="headPhoto != null and headPhoto != ''">
                #{headPhoto},
            </if>
            <if test="signature != null and signature != ''">
                #{signature},
            </if>
            <if test="QQ != null and QQ != ''">
                #{QQ},
            </if>
            <if test="weiXin != null and weiXin != ''">
                #{weiXin},
            </if>
            <if test="email != null and email != ''">
                #{email},
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                #{phoneNumber},
            </if>
            <if test="isEnable != null ">
                #{isEnable},
            </if>
            <if test="memberType != null ">
                #{memberType}
            </if>
        </trim>
    </insert>

    <!--&lt;!&ndash; 批量新增记录 &ndash;&gt;-->
    <!--<insert id="batchInsert" parameterType="com.dragonball.model.user.entity.UserEO">-->
        <!--<foreach collection="list" item="item" index="index" separator=";">-->
            <!--insert into t_user-->
            <!--<trim prefix="(" suffix=")" suffixOverrides="," >-->
                <!--<if test="item.num != null">-->
                    <!--num,-->
                <!--</if>-->
                <!--<if test="item.userName != null and item.userName != ''" >-->
                    <!--user_name,-->
                <!--</if>-->
            <!--</trim>-->
            <!--<trim prefix="values (" suffix=")" suffixOverrides="," >-->
                <!--<if test="item.num != null and item.num !=''">-->
                    <!--#{item.num},-->
                <!--</if>-->
                <!--<if test="item.userName != null and item.userName != ''">-->
                    <!--#{item.userName},-->
                <!--</if>-->
            <!--</trim>-->
        <!--</foreach>-->
    <!--</insert>-->

    <!-- 更新记录 -->
    <update id="update" parameterType="com.dragonball.model.user.entity.UserEO">
        update t_user
        <set>
            <if test="userName != null and userName != ''">
                `user_name` = #{userName},
            </if>
            <if test="nickName != null and nickName != ''">
                `nick_name` = #{nickName},
            </if>
            <if test="sex != null ">
                `sex` = #{sex},
            </if>
            <if test="account != null and account != ''">
                `account` = #{account},
            </if>
            <if test="password != null and password != ''">
                `password` = #{password},
            </if>
            <if test="headPhoto != null and headPhoto != ''">
                `head_photo` = #{headPhoto},
            </if>
            <if test="signature != null and signature != ''">
                `signature` = #{signature},
            </if>
            <if test="QQ != null and QQ != ''">
                `qq` = #{QQ},
            </if>
            <if test="weiXin != null and weiXin != ''">
                `wei_xin` = #{weiXin},
            </if>
            <if test="email != null and email != ''">
                `email` = #{email},
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                `phone_number` = #{phoneNumber},
            </if>
            <if test="isEnable != null">
                `is_enable` = #{isEnable},
            </if>
            <if test="memberType != null">
                `member_type` = #{memberType}
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 更新记录 -->
    <update id="batchUpdate" parameterType="com.dragonball.model.user.entity.UserEO">
        <foreach collection="list" item="item" index="index"
                 separator=";">
            update t_user
            <set>
                <if test="item.userName != null and item.userName != ''">
                    user_name = #{item.userName},
                </if>
                <if test="item.nickName != null and item.nickName != ''">
                    nick_name = #{item.nickName},
                </if>
                <if test="item.sex != null">
                    sex = #{item.sex},
                </if>
                <if test="item.account != null and item.account != ''">
                    account = #{item.account},
                </if>
                <if test="item.password != null and item.password != ''">
                    password = #{item.password},
                </if>
                <if test="item.headPhoto != null and item.headPhoto != ''">
                    head_photo = #{item.headPhoto},
                </if>
                <if test="item.signature != null and item.signature != ''">
                    signature = #{item.signature},
                </if>
                <if test="item.QQ != null and item.QQ != ''">
                    qq = #{item.QQ},
                </if>
                <if test="item.weiXin != null and item.weiXin != ''">
                    wei_xin = #{item.weiXin},
                </if>
                <if test="item.email != null and item.email != ''">
                    email = #{item.email},
                </if>
                <if test="item.phoneNumber != null and item.phoneNumber != ''">
                    phone_number = #{item.phoneNumber},
                </if>
                <if test="item.isEnable != null">
                    is_enable = #{item.isEnable},
                </if>
                <if test="item.memberType != null">
                    member_type = #{item.memberType}
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <!-- 通过主键删除记录 -->
    <delete id="delete">
        delete from t_user where id = #{id}
    </delete>

    <!-- 通过主键批量删除记录 -->
    <delete id="batchDeleteByIds" parameterType="list">
        DELETE FROM t_user WHERE id IN
        <foreach collection="list" item="item" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 统计符合条件的实体对象个数 -->
    <select id="countByMap" parameterType="map" resultType="int">
        SELECT COUNT(1) FROM t_user
        <include refid="selectSql" />
    </select>

    <!-- 查询符合条件的实体对象 -->
    <select id="selectByMap" parameterType="map" resultMap="BaseResultMap"
            resultType="com.dragonball.model.user.entity.UserEO">
        SELECT * FROM t_user
        <include refid="selectSql" />
        <if test="ORDERBY != null and ORDERBY != ''">
            ORDER BY ${ORDERBY}
        </if>
        <if test="ORDER != null and ORDER != ''">
            ${ORDER}
        </if>
        <if test="limit != null">
            LIMIT #{limit}
        </if>
        <if test="start != null">
            OFFSET #{start}
        </if>
    </select>

    <!-- 根据账号查询 -->
    <select id="getUserByAccount" parameterType="String" resultMap="BaseResultMap"
            resultType="com.dragonball.model.user.entity.UserEO">
        SELECT * FROM t_user WHERE account =
        #{account}
    </select>

    <!-- 根据手机号查询 -->
    <select id="getUserByPhone" parameterType="String" resultMap="BaseResultMap"
            resultType="com.dragonball.model.user.entity.UserEO">
        SELECT * FROM t_user WHERE phone_number =
        #{phoneNumber}
    </select>

</mapper>